# requirements.txt
Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
psycopg2-binary
celery==5.3.4
redis==5.0.1
python-decouple==3.8
cryptography==41.0.7
django-cors-headers==4.3.1
setuptools
google-auth==2.23.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.100.0